#App {
    text-align: center;
}

.container {
    display: flex;
}

.container_column {
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    border: 2px solid red;
}

#about_box {
    text-align: center;
    border: 2px solid red;
    flex-grow: 1;
}

.product_box_container {
    flex-grow: 2;
}

#product_box {
    text-align: center;
    border: 2px solid red;
    margin-bottom: 2em;
    flex-grow: 4;
    height: 50em
}

#options_container {
    justify-content: space-between;
    padding: 5em;
    border: 2px solid red;
    padding: 0;
}

#option_items {
    border: 2px solid red;
    padding: 2em;
    margin: 2em;
}